/* This stylesheet is used to style the public-facing components of the plugin. */

/* TreeTable */
table.treetable.no-margin {
  margin: 0;
}
table.treetable span.indenter {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: right;

  /* Disable text selection of nodes (for better D&D UX) */
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;

  /* Force content-box box model for indenter (Bootstrap compatibility) */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  width: 19px;
}
table.treetable span.indenter a {
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  width: 19px;
}

/* styles by TAG  */
article header {
  margin-bottom: 20px;
}

table { width:100%; margin:0; }
table th { text-align:center; background-color:#eee; min-width:20px; }
/*table td div { overflow: hidden; text-overflow: ellipsis; }*/

/* styles by CLASS  */
div.panel { margin-bottom: 10px; }
div.panel-title { font-weight:bold; }
div.panel-heading {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.panel-heading:hover {
  cursor: pointer;
}
div.panel-heading:hover span {
  text-decoration: underline;
}

div.panel-heading:before
, .comments-link:before
, .edit-link:before
, .byline:before
, .entry-date:before {
  font-family:'Glyphicons Halflings';
}

.comments-link:before { content: "\e111"; }
.edit-link:before     { content: "\e065"; }
.byline:before        { content: "\e008"; }
.entry-date:before    { content: "\e023"; }

div.panel-heading:before  { content:"\e114"; }
div.panel-heading.collapsed:before { content:"\e080"; }

/* detail styles by Element-ID  */
#table_log td { text-align:right; }

/* dob_vote.formVote */
div#dob_vote_html_myvote {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}
td#tdVote div.well {
  margin-bottom: 5px;
}

/* media query */
@media (max-width:991px) {
  div.container { width: 100%; }
}
@media (max-width:900px) {
  .ip_td { word-break: break-all; }
}
