#toggle-view {
	list-style:none;
	font-family:arial;
	font-size:11px;
	margin:0;
	padding:0;
}
#toggle-view li.toggle {
	margin:5px;
	border-bottom:1px solid #ccc;
	position:relative;
}
#toggle-view li.toggle h3 {
	cursor:pointer;
}
#toggle-view h3 {
	margin:0;
	font-size:14px;
}
#toggle-view span.toggler {
	position:absolute;
	right:5px; top:0;
	color:blue;
	font-size:13px;
	font-weight:normal;
}
#toggle-view .panel {
	margin:5px 0;
	display:block;
}

#toggle-view h4 {
	margin:0;
	font-size:12px;
}
#toggle-view .content {
	font-size:12px;
}
#toggle-view .left {
	width:120px;
}
#toggle-view table {
	margin-bottom:0px;
}
#toggle-view td {
	font-size:12px;
	padding: 1px 5px 1px 5px;
}
